@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700&family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@400;600;700&display=swap");
/* font-family imports:
font-family: 'Encode Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'JetBrains Mono', monospace; */

/* 
colors: 
 Base-color : #3fa9f5;
 Gray 7: #495057
 Gray 8: #343a40, Gray 9: #212529
 Gray 4: #ced4da, Gray 1: #f1f3f5 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e8ee;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html {
  color: #343a40;
  font-size: 10px;
  font-family: "Encode Sans", sans-serif;
}

.gen_box_shadow {
  box-shadow: -3px -3px 5px 2px #f7f7f7, 3px 3px 5px 2px #caccd1;
}

.td_none {
  text-decoration: none;
}

.login_box {
  height: 90vh;
  width: 80%;
  border-radius: 1rem;
  display: flex;

  /* overflow: hidden; */
}

/* left portion */

.leftportion {
  padding: 3rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base_logo_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  margin-top: 3rem;
  padding: 1rem;
}

.leftportionextraa {
  margin-bottom: 3rem;
}

.imgdiv {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.imgdiv img {
  height: 25rem;
}

.extraalinks {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* right portion */
/* .rightportionbox {
  height: fit-content;
} */

.rightportion {
  padding: 3rem;
  width: 50%;
  height: 100%;
  display: flex;
  row-gap: 7rem;
  flex-direction: column;
  background-color: #e6e8ee;

  position: relative;

  border-radius: 1rem;
}

.user_login_heading {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 5rem;
}

.user_login_body {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.welcome_text h2 {
  font-size: 3rem;
  font-weight: 600;
}

.welcome_text p {
  font-size: 1.7rem;
}

.exp_colp_button {
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  border: none;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;

  /* transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); */
}

.exp_colp_button i {
  font-size: 2rem;
  color: #343a40;
}

/* Generic input field css

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submit_button {
  height: 5rem;
  width: 30rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 3rem;
  display: block;
  color: #f1f3f5;
  border-radius: 1rem;
  border: #3fa9f5 2px solid;
  background: linear-gradient(-45deg, rgb(137, 206, 255), #3fa9f5, #2c87c9);
}

.submit_button:active {
  background: linear-gradient(
    -60deg,
    rgb(137, 206, 255),
    #3fa9f5,
    #3fa9f5,
    #2c87c9,
    #2c87c9
  );
} */

.forgot_pass a {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 3rem;
  color: #2f98e2;
  text-decoration: none;
}
