body {
  flex-direction: column;
}

.slider_productname {
  flex-direction: column;
}

.productname_buy {
  margin: 3rem 0 3rem 0;
}

form {
  margin: 3rem 0;
}

.base_logo_link {
  margin-top: 0;
}

.overlay {
  z-index: 11 !important;
}

.description_area {
  height: 10rem;
  z-index: auto !important;
}

.email_seller {
  padding: 1rem 3rem;
  border-radius: 1rem;
  width: fit-content;
  font-size: 1.5rem;
  color: #fff;
  background-color: #343a40;
  border: none;
}

.email_seller:hover {
  background-color: #4d555e;
}
